@value primary from './colors.css';
@value grey from './colors.css';
@value grey-dark from './colors.css';
@value grey-light from './colors.css';

:global html,
:global body,
:global #root {
    height: 100%;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

:global .form-label {
    padding: 4px;
    margin: 4px;
}

:global .form-input {
    padding: 4px;
    margin: 4px;
}

:global .anchored-header:hover > .anchor {
    opacity: 1;
}

:global .anchor {
    opacity: 0;
}

:global .anchor-icon {
    color: grey;
}

:global .anchor-icon:hover {
    color: primary;
}

:global .code-block {
    /*
        Adding important so code themes are overridden since style-loader
        loads styles before the code themes are loaded.
    */
    border-radius: 4px !important;
    padding: 10px !important;
}

:global .inline-code-block {
    background-color: grey-light;
    color: grey-dark;
    padding: 2px 4px 2px 4px;
}

:global table {
    border: 1px solid grey-dark;
    border-collapse: collapse;
}

:global th {
    background-color: grey-light;
    padding: 8px 16px 8px 16px;
    border: 1px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
    font-weight: normal;
}

:global td {
    padding: 8px 16px 8px 16px;
    border: 1px solid rgb(221, 221, 221);
}
